{
  "printWidth": 120,
  "tabWidth": 2,
  "useTabs": false,
  "semi": false,
  "singleQuote": true,
  "bracketSpacing": true,
  "requirePragma": false,
  "insertPragma": false,
  "arrowParens": "avoid",
  "trailingComma": "es5"
}
